.form-wrapper {
    position: absolute;
    width: 100%;
    padding: 15px;

    .form-label {
        height: 30px;
        display: flex;
        align-items: center;
    }

    .footnote {
        margin-top: 15px;
        font-size: 12px;

        a {
            text-decoration: underline;
            text-underline-position: under;
        }
    }

    form {
        .form-block {
            color: inherit;
            margin-bottom: 15px;
            .form-header {
                height: 15px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                text-transform: capitalize;
                font-size: 12px !important;
                padding-right: 15px;
            }

            input {
                color: inherit;
                height: 30px;
                width: 100%;
                border: none;
                background: none;
                border-bottom: 1px solid;
                font-size: 16px;
                
                &::placeholder {
                    color: inherit;
                    opacity: 0.2;
                    transition: 500ms cubic-bezier(1, 0, 0, 1);
                }
                &:focus::placeholder {
                    opacity: 0.1;
                }
            }
        }
    }

    button {
        height: 40px;
        width: 100%;
        background: none;
        border: 1px solid inherit;
        color: inherit;
        font-size: 16px;
        cursor: pointer;
        transition: 500ms ease;

        &:disabled {
            background-color: rgba(255,255,255,0.1);
            color: rgba(0,0,0,0.3);
            border: 1px solid;
            cursor: auto;
            &:hover {
                background-color: rgba(255, 77, 107, 0.1);
                border-radius: 50px;
            }
        }
        &:hover {
            background-color: rgba(255, 77, 107, 1);
            border-radius: 50px;
        }

    }

    .dialog {
        height: 40px;
        width: 100%;
        border: 1px solid;
        color: inherit;
        font-size: 16px;
        cursor: pointer;
        transition: 500ms ease;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: blue;
        text-transform: uppercase;
    }
}