.horizontal-container {
    height: calc(100vh - 1px);
    overflow: hidden;
    // position: relative;
}

.slide-container {
    width: 333.3vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}