.horizontal-container {
    height: calc(100vh - 1px);
    overflow: hidden;
    // position: relative;
}

.slide-container {
    width: 333.3vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.home-card {
    position: absolute;
    // width: 400px;
    width: calc(100% - 80px);
    // height: 500px;
    height: 33.33vw;
    border: 1px solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: filter 500ms cubic-bezier(1,0,0,1);
}