.dashboard-menu {
    position: fixed;
    top: 40px;
    left: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid;
    z-index: 1001;
    overflow: hidden;
    background-color: inherit;
    color: currentColor;
    transition: 500ms cubic-bezier(1, 0, 0, 1);

    &__header {
        // height: 40px;
        width: 100%;
        display: block;
        position: relative;
        border-bottom: 1px solid;

        div {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            // border-right: 1px solid;
        }
    }
}

.dashboard {
    padding: 120px 40px 40px 40px;
    min-height: 100vh;
}

// style={{
//     height: 40,
//     display: 'flex',
//     alignItems: 'center',
//     justifyContent: 'center',
//     width: '100%'
// }}